.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  color: #333;
  font-size: 0.85rem;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
}

.footer-name {
  font-weight: 400;
}

.footer-year {
  color: #666;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 5%;
    font-size: 0.9rem;
  }
}